@import "font.scss";
@import "color.scss";

html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
  }

a {
  text-decoration: none;
}

main {

  &:before {
    content: "";
    height: 345px;
    background-color: #212429;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1530px;
  padding: 0 40px;
}

body {
  margin: 0px;
}

.menu {
  background-color: #212429;
  position: sticky;
  z-index: 9999;
  top: 0;

  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1530px;
    }

  &__icon {
    padding: 20px;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
  }

  &__logo {
    color: #fefefe;
    font-family: "Hind - Semibold";
    font-size: 22px;
    font-weight: 400;
    line-height: 29.54px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }

  &__img {
    padding: 20px;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
  }

  &__social {
    display: flex;
  }
}

.link-btn {
  text-decoration: none;
  font-family: "Hind-Regular";
  font-weight: 600;
  color: $black;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 65px;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  padding: 0 15px;
}
//=============svg====================
.icon {
  fill: #464646;
  width: 15px;
  height: 15px;
  transition: .3s;

  &:hover {
    cursor: pointer;
    fill: red;
  }
}
